.bar {
color: white;
text-shadow: 1px 1px #421F44;
text-align: center;
}

#topics {
color: white;
font-size: 3em;
text-align: center
}

.aboutMe {
color: #352D4E;
font-size: 2em;
text-align: center;
text-decoration: none;
}