#nav-content {
    margin-left: auto;
    font-size: 1.5em;
    background-color: #80577B;
}
.navbar-brand {
    color: rgb(252, 249, 251);
    font-size: 1.5em;
    background-color: #80577B  
}
.navbar {
    background-color: #80577B
}